.forml-fieldset {
    display: inline-flex;
    flex-direction: column;
    height: min-content;
    box-shadow: var(--mantine-shadow-sm) !important;
    margin: var(--forml-spacing);

    &.forml-filled {
        &>.forml-fieldset-header {
            background-color: var(--mantine-primary-color-filled);
            color: var(--mantine-primary-color-contrast);
        }

        &>.forml-fieldset-content-horizontal,
        &>.forml-fieldset-content-vertical {
            border: 1px solid var(--forml-color-border);
            border-top: none;
            border-bottom-left-radius: var(--mantine-radius-sm);
            border-bottom-right-radius: var(--mantine-radius-sm);
        }

    }
}

.forml-fieldset-content-vertical {
    display: flex;
    flex-direction: column;
    gap: var(--forml-spacing);
    align-items: stretch;
    justify-content: flex-start;
}

.forml-fieldset-content-horizontal {
    display: grid;
    grid-gap: var(--forml-spacing);
    grid-auto-flow: column;
}

.forml-fieldset>.forml-fieldset-content-horizontal,
.forml-fieldset>.forml-fieldset-content-vertical {
    padding: var(--forml-spacing);
}
