:root {
    --forml-border-color: var(--mantine-color-gray-3);
    --forml-spacing: var(--mantine-spacing-xs);

    @media (prefers-color-scheme: dark) {
        --forml-border-color: var(--mantine-color-dark-4);
    }
}
