:root {
    --forml-border-color: var(--mantine-color-gray-3);
    --forml-panel-color: var(--mantine-color-gray-2);
    --forml-raised-color: var(--mantine-color-gray-1);
    --forml-spacing: var(--mantine-spacing-xs);

    @media (prefers-color-scheme: dark) {
        --forml-border-color: var(--mantine-color-dark-4);
        --forml-panel-color: var(--mantine-color-dark-7);
        --forml-raised-color: var(--mantine-color-dark-8);
    }
}
