.forml-tabs-root {
    margin: var(--forml-spacing);

    &.forml-filled {
        .forml-tabs-header {
            color: var(--mantine-primary-color-contrast);
            background-color: var(--mantine-primary-color-filled);
            padding: var(--forml-spacing);
            border-top-left-radius: var(--mantine-radius-sm);
            border-top-right-radius: var(--mantine-radius-sm);
        }

        .forml-tabs {
            border: 1px solid var(--forml-border-color);
            border-top: none;
            border-bottom-left-radius: var(--mantine-radius-sm);
            border-bottom-right-radius: var(--mantine-radius-sm);
        }

        .forml-tabs-list {
            background-color: var(--forml-panel-color);

            &[data-orientation=vertical] {
                .mantine-Tabs-tab {
                    border-radius: 0;

                    &:hover {
                        background-color: unset;
                    }
                }

                .mantine-Tabs-tabLabel {
                    text-align: start;
                }

            }
        }
    }
}
