.forml-tabs-root {
    margin: var(--forml-spacing);

    &.forml-filled {
        .forml-tabs {
            border: 1px solid var(--forml-color-border);
            border-top: none;
            border-bottom-left-radius: var(--mantine-radius-sm);
            border-bottom-right-radius: var(--mantine-radius-sm);
        }

        .forml-tabs-list {
            background-color: var(--forml-color-panel);

            &[data-orientation=vertical] {
                .mantine-Tabs-tab {
                    border-radius: 0;

                    &:hover {
                        background-color: unset;
                    }
                }

                .mantine-Tabs-tabLabel {
                    text-align: start;
                }

            }
        }
    }
}
